article#docker > h1 {
    display: none;
}

h2 {
    margin-top: 0;
}

img.docker {
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.movile {
    height: 5%;
    padding-bottom: 0;
}

p.date {
    margin-top: 0;
}

p.personal-data {
    margin: 0;
}

p.personal-data > a {
    text-decoration: none;
    font-size: 0.7em;
}

img.architecture {
    margin-top: 50px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline;
}

img.inline {
    margin-top: 50px;
}

p.inline {
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
    vertical-align: 180%;
}
